<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra PG - SQL DB with Ruby</title>
</head>
<body>
  <h1>Add a new Author</h1>

  <div class="container">
    <form action="/authors" method="POST">
      <p>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" autofocus> <!-- here the keys are symbols and data types are strings -->
        <input type="submit" value="Add">
      </p>
    </form>
  </div>

</body>
</html>